* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styles css starts  here */

body {
    font-family: inter !important;
}

:root {
    ---bg-primary: #4CAF4F;
    --white: #FFFFFF;
    --btn-padding: 9.74px 22.27px;
    --rounded-corner: 2.78px;
    --btn-font: 11.14px;
    --heading-color: #4D4D4D;
    --natural-color: #F5F7FA;
    --sub-heading-color: #18191F;
    --para-color: #717171;
    --grey-color: #F5F7FA;
    --neutral-black-color: #263238;
    --input-gray: #D9DBE1;
}


h1 {
    font-size: 44.5px;
    Font-Weight: 600;
    line-height: 52.9px;
    color: var(--heading-color);
    margin-bottom: 0px;
}

h2 {
    font-weight: 600;
    font-size: 25.06px;
    line-height: 30.63px;
    color: var(--heading-color);
    margin-bottom: 6px;
}

h3 {
    font-weight: 700;
    font-size: 19.49px;
    line-height: 25.06px;
    color: var(--heading-color);
    margin-bottom: 6px;
}

h4 {
    font-weight: 400;
    font-size: 9.74px;
    line-height: 13.92px;
    color: var(--para-color);
    margin-bottom: 0px;
}

h5 {
    font-weight: 600;
    font-size: 13.92px;
    line-height: 19.49px;
    color: var(---bg-primary);
}

p {
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.71px;
    color: var(--para-color);
    margin-bottom: 11px;
}
a{
    text-decoration: none;
    color: var(---bg-primary);
}

button {
    border: 0;
    font-weight: 500;
    text-align: center;
}

.nav-link{
    font-size: 11.14px !important;
    line-height: 16.7px;
    color: #4D4D4D;
    text-decoration: none;
}

/* fonts used  */


@font-face {
    font-family: inter;
    src: url(../fonts/Inter_28pt-Regular.ttf);
}

/* custom components css startasb here */


.my-padding-b {
    padding-bottom: 11px;
}


/* 
.my-footer {
    padding-top: 87.01px;
} */

.my-padding-bottom {
    padding-bottom: 80px;
}

.btn-register {
    background-color: var(---bg-primary);
    padding: var(--btn-padding);
    color: var(--white);
    border-radius: var(--rounded-corner);
    font-size: var(--btn-font);
    text-align: center;
    cursor: pointer;
}



/* custom css componenet css ends here */



/* header section css starts here  */

header {
    background-color: var(--white);
}

/* header section css ends here  */



/* banner section starts here  */

#banner-section {
    padding-top: 66px;
    padding-bottom: 66px;
    background-color: var(--natural-color);
}

.banner-heading {
    padding-top: 72.39px;
    margin-bottom: 11px;
}

.banner-heading :nth-child(2) {
    color: var(---bg-primary);
}

#banner-section p {
    margin-bottom: 22px;
}


/* banner section ends here  */

/* client section starts here */

#client-section {
    padding-top: 27px;
    padding-bottom: 27px;
}



/* client section ends here */

/* Manage section starts here */




/* Manage section ends here */

#manage-section {
    padding-bottom: 28px;
}


#manage-section .card {
    padding: 17px 22px 16px 22px;
    border: 0;
    box-shadow: 0 1.39px 2.78px 0px #ABBED133;
}

#manage-section .card-body {
    padding: 0;
}

#manage-section .card p {
    margin-bottom: 0;
}

/* unseen section starts here */

#unseen-section {
    padding-bottom: 33px;
}

#unseen-section h4 {
    padding-bottom: 22px;
}

.unseen-row {
    gap: 34px;
}

/* unseen section ends here */

/* reinvent section starts here */

#reinvent-section {
    background-color: var(--natural-color);
    padding: 45px 0px;
}

.reinvent-row {
    justify-content: center;
    gap: 50px;
}

.reinvent-numbers-row {
    gap: 21px;
    justify-content: center;
}

.reinvent-numbers-row p {
    margin-bottom: 28px;
}

.reinvent-numbers-row h3 {
    margin-bottom: 0px;
}

.reinvent-details :nth-child(2) {
    color: var(---bg-primary);
}

/* reinvent section ends here */

/* caring section starts here */

#caring-section {
    min-height: 450px;
}

/* caring section ends here */


/* how-section starts here */

#how-section {
    padding: 33px 0px;
}



#how-section h4 {
    padding-bottom: 22px;
}

.how-row {
    gap: 34px;
}

/* how-section ends here */

/* tesla-secton starts here */
#tesla-section {
    padding: 22px 0px;
    background-color: var(--natural-color);
}

.tesla-row {
    justify-content: center;
    gap: 54px;
}



/* tesla-secton ends here */

/* care section starts here */

#caring-section {
    padding-top: 33px;
    padding-bottom: 118px;
}

#caring-section .card-body {
    max-width: 80%;
    background-color: #F5F7FA;
    top: 70%;
    left: 10%;
}

.cardtext {
    color: #717171;
}

/* care section ends here */

/* demo section starts here */
#demo-section {
    padding-top: 22px;
    padding-bottom: 35px;
    background-color: var(--natural-color);
}

#demo-section h1 {
    color: var(--neutral-black-color);
    padding-bottom: 22px;
}

/* demo section ends here */

/* footer section starts here */




#footer-section {
    background-color: var(--neutral-black-color);
    padding-top: 45px;
    padding-bottom: 53px;
}


.footer-details h4 {
    color: var(--grey-color);
}

.footer-details :nth-child(3) {
    margin-bottom: 28px;
}

.footer-company h5 {
    color: var(--white);
}

.footer-nav a {
    font-weight: 400;
    font-size: 9.74px;
    line-height: 13.92px;
    color: var(--grey-color);
    display: block;
    margin-bottom: 8px;
}

.footer-support h5 {
    color: var(--white);
}

.footer-update h5 {
    color: var(--white);
}

.email-signup {
    position: relative;
    display: inline-block;
}



.email-signup input {
    background-color: #515b60;
    padding-right: 40px;
}

input::placeholder {
    color: #D9DBE1 !important;
}

.email-signup input {
    border: none;
}

.email-signup button {
    position: absolute;
    top: 15%;
    right: 5%;
    cursor: pointer;
    background-color: transparent;
}

.email-btn img {
    width: 80%;
}


/* footer section ends here */











/* Mobile Responsiveness  starts here */


@media screen and (min-width:320px) and (max-width:578px) {

    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.2;
    }

    h1 {
        font-size: 30.5px;
    }

    h2 {
        font-size: 20.06px;
    }

    h3 {
        font-size: 19.49px;
    }

    h4 {
        font-size: 14.74px;
    }


    .banner-heading {
        padding-top: 0px;
    }

    .banner-image>img {
        width: 75%;
    }


    .card-body {
        top: 65%;
    }

    #caring-section .row {
        gap: 60px
    }

    .customers {
        width: 100%;
        text-align: center;
    }

    .tesla-row{
        gap: 34px;
    }


    #footer-section h5 {
        font-size: 18px;
    }
}


/* Mobile Responsiveness  ends here */

@media screen and (min-width:768px) and (max-width:991px) {

    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.2;
    }

    .banner-image>img {
        width: 80%;
    }

    .customers {
        width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 34.5px;
    }

    h2 {
        font-size: 20.06px;
    }

}

/* Tablet Responsiveness starts here */



/* Laptop Responsiveness start here */

@media(min-width:992px) {
    .cards-row {
        justify-content: center;
        gap: 88px;
    }

}


/* Laptop Responsiveness ends here */