* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

/* global styles css starts  here */

:root {
    ---bg-primary: #4CAF4F;
    --white: #FFFFFF;
    --btn-padding: 9.74px 22.27px;
    --rounded-corner: 2.78px;
    --btn-font: 11.14px;
    --heading-color: #4D4D4D;
    --natural-color: #F5F7FA;
    --sub-heading-color:#717171;
}


h1 {
    font-size: 44.5px;
    Font-Weight: 600;
    font-Style: Semi Bold;
    line-height: 52.9px;
    color: var(--heading-color);
}

h2 {
    font-weight: 600;
    font-size: 25.06px;
    line-height: 30.63px;
    color: var(--heading-color);
}

h3 {
    font-weight: 700;
    font-size: 19.49px;
    line-height: 25.06px;
    color: var(--heading-color);
}

h4 {
    font-weight: 400;
    font-size: 9.74px;
    line-height: 13.92px;
    color: var(--sub-heading-color  );
}

p {
    font-weight: 400;
    font-style: Regular;
    font-size: 11.14px;
    line-height: 16.71px;
}


button {
    border: 0;
    font-weight: 500;
    text-align: center;
}

a {
    font-size: 11.14px !important;
    line-height: 16.7px;
    color: #4D4D4D;
}

/* fonts used  */


@font-face {
    font-family: inter;
    src: url(./fonts/Inter_18pt-Regular.ttf);
}

/* custom components css startasb here */


.my-container {
    padding-top: 27.84px;
    padding-bottom: 27.84px;
}


.btn-register {
    background-color: var(---bg-primary);
    padding: var(--btn-padding);
    color: var(--white);
    border-radius: var(--rounded-corner);
    font-size: var(--btn-font);
    text-align: center;
}



/* custom css componenet css ends here */



/* header section css starts here  */

header {
    height: 58.7px;
    background-color: var(--white);
}

/* header section css ends here  */



/* banner section starts here  */

#banner-section {
    min-height: 500px;
    background-color: var(--natural-color);
}

.banner-heading {
    padding-top: 72.39px;
    margin-bottom: 11.14px;
}

.banner-heading :nth-child(2) {
    color: var(---bg-primary);
}

.banner-image>img {
    width: 60%;
}



/* banner section ends here  */


/* client section starts here */

.spending-image > img  {
    width: 90%;
}

/* client section ends here */