* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

/* global styles css starts  here */

:root {
    ---bg-primary: #4CAF4F;
    --white: #FFFFFF;
    --btn-padding: 9.74px 22.27px;
    --rounded-corner: 2.78px;
    --btn-font: 11.14px;
    --heading-color: #4D4D4D;
    --natural-color: #F5F7FA;
    --sub-heading-color: #18191F;
    --para-color: #717171;
    --grey-color: #F5F7FA;
    --neutral-black-color: #263238;
    --input-gray: #D9DBE1;
}


h1 {
    font-size: 44.5px;
    Font-Weight: 600;
    font-Style: Semi Bold;
    line-height: 52.9px;
    color: var(--heading-color);
}

h2 {
    font-weight: 600;
    font-size: 25.06px;
    line-height: 30.63px;
    color: var(--heading-color);
}

h3 {
    font-weight: 700;
    font-size: 19.49px;
    line-height: 25.06px;
    color: var(--heading-color);
}

h4 {
    font-weight: 400;
    font-size: 9.74px;
    line-height: 13.92px;
    color: var(--para-color);
}

h5 {
    font-weight: 600;
    font-size: 13.92px;
    line-height: 19.49px;
    color: var(---bg-primary);
}

p {
    font-weight: 400;
    font-size: 11.14px;
    line-height: 16.71px;
    color: var(--para-color);
    /* max-width: 430px; */
}


button {
    border: 0;
    font-weight: 500;
    text-align: center;
}

a {
    font-size: 11.14px !important;
    line-height: 16.7px;
    color: #4D4D4D;
}

/* fonts used  */


@font-face {
    font-family: inter;
    src: url(./fonts/Inter_18pt-Regular.ttf);
}

/* custom components css startasb here */


.my-container {
    padding-top: 27.84px;
    padding-bottom: 27.84px;
}

.my-footer {
    padding-top: 87.01px;
}

.my-padding-bottom {
    padding-bottom: 80px;
}

.btn-register {
    background-color: var(---bg-primary);
    padding: var(--btn-padding);
    color: var(--white);
    border-radius: var(--rounded-corner);
    font-size: var(--btn-font);
    text-align: center;
}



/* custom css componenet css ends here */



/* header section css starts here  */

header {
    background-color: var(--white);
}

/* header section css ends here  */



/* banner section starts here  */

#banner-section {
    min-height: 500px;
    background-color: var(--natural-color);
}

.banner-heading {
    padding-top: 72.39px;
    margin-bottom: 11.14px;
}

.banner-heading :nth-child(2) {
    color: var(---bg-primary);
}

.banner-image>img {
    width: 60%;
}

/* banner section ends here  */

/* client section starts here */

.spending-image>img {
    width: 80%;
}

/* client section ends here */

/* reinvent section starts here */

#reinvent-section {
    background-color: var(--natural-color);
}

.reinvent-details :nth-child(2) {
    color: var(---bg-primary);
}

/* reinvent section ends here */

/* caring section starts here */

#caring-section {
    min-height:450px ;
}

/* caring section ends here */


/* how-section starts here */

.how-image>img {
    width: 70%;
}

/* how-section ends here */

/* tesla-secton starts here */
#tesla-section {
    background-color: var(--natural-color);
}

.tesla-image {
    width: 100%;
}

.tesla-image img {
    width: 70%;
}

/* tesla-secton ends here */

/* care section starts here */
.card-body {
    max-width: 80%;
    background-color: #F5F7FA;
    top: 70%;
    left: 10%;
}

.cardtext {
    color: #717171;
}

/* care section ends here */

/* demo section starts here */
#demo-section {
    background-color: var(--natural-color);
}

.demo-details h1 {
    color: var(--neutral-black-color);
}

/* demo section ends here */

/* footer section starts here */
#footer-section {
    background-color: var(--neutral-black-color);
}


.footer-details h4 {
    color: var(--grey-color);
}

.footer-company h5 {
    color: var(--white);
}

.footer-nav a {
    font-weight: 400;
    font-size: 9.74px;
    line-height: 13.92px;
    color: var(--grey-color);
}

.footer-support h5 {
    color: var(--white);
}

.footer-update h5 {
    color: var(--white);
}

.email-signup {
    position: relative;
    display: inline-block;
}



.email-signup input {
    background-color:#515b60;
    padding-right: 40px;
}

input::placeholder {
    color: #D9DBE1 !important;
}

.email-signup button {
    position: absolute;
    top: 15%;
    right: 5%;
    cursor: pointer;
    background-color: transparent;
}

/* footer section ends here */